{% extends '../base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

{% include 'modal/modalImage.html' %}

<section class="section">
    <div class="container">
        <h1 class="newsTitle">Уставные документы Автономной Некоммерческой организации
        «Центр помощи, поддержки, социальной и трудовой адаптации»</h1>
        <div class="containerDocs">
            {% for doc in regular %}
                {% csrf_token %}
                <div class="docsItem docsOpenModal" id="{{ doc.id }}">
                    {% if doc.name|length > 22 %}
                        <h4 class="docsTitleOver">{{ doc.name }}</h4>
                    {% else %}
                        <h4 class="docsTitle">{{ doc.name }}</h4>
                    {% endif %}
                    <div class="containerImgDocs">
                       <a class="linkDocks">
                        <img class="imgDocs" src="{{ doc.previewImage.url }}">
                       </a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <h1 class="newsTitle">Прочие ДОКУМЕНТЫ</h1>
        <div class="containerDocs">
            {% for doc in other %}
                {% csrf_token %}
                <div class="docsItem docsOpenModal" id="{{ doc.id }}">
                    {% if doc.name|length > 22 %}
                        <h4 class="docsTitleOver">{{ doc.name }}</h4>
                    {% else %}
                        <h4 class="docsTitle">{{ doc.name }}</h4>
                    {% endif %}
                    <div class="containerImgDocs">
                       <a class="linkDocks">
                        <img class="imgDocs" src="{{ doc.previewImage.url }}">
                       </a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <h1 class="newsTitle">Отчетность</h1>
        <div class="containerDocs">
            {% for doc in reports %}
                {% csrf_token %}
                <div class="docsItem docsOpenModal" id="{{ doc.id }}">
                    {% if doc.name|length > 22 %}
                        <h4 class="docsTitleOver">{{ doc.name }}</h4>
                    {% else %}
                        <h4 class="docsTitle">{{ doc.name }}</h4>
                    {% endif %}
                    <div class="containerImgDocs">
                       <a class="linkDocks">
                        <img class="imgDocs" src="{{ doc.previewImage.url }}">
                       </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}