{% extends '../base.html' %}
{% load static %}
{% block content %}
<section class="section">
    <div class="container">
        <h1 class="newsTitle">Наши вакансии</h1>
        {% if vacancies.count == 0 %}
            <div class="noVacans">
                <img class="noVakImg" src="{% static "images/logoGray.svg" %}">
                <p class="noVakText">В настоящее время открытых вакансий нет</p>
            </div>
        {% else %}
            <div class="containerVak">
                {% for vac in vacancies %}
                    <div class="contVakItem">
                        <h3 class="vaktitle">{{ vac.name }}</h3>
                        <div class="vakInfo">
                            <img class="imgVak" src="{{ vac.image.url }}">
                            <div class="vakIngoText">
                                <h4 class="vakInfoTitle">Ключевые требования</h4>
                                <p class="vakInfoTextItem">{{ vac.requirements }}</p>

                                <h4 class="vakInfoTitle">Опыт работы</h4>
                                <p class="vakInfoTextItem">{{ vac.experience }} </p>

                                <h4 class="vakInfoTitle">Условия</h4>
                                <p class="vakInfoTextItem">{{ vac.conditions }} </p>

                                <h4 class="vakInfoPrice">ЗП от {{ vac.wages }} р</h4>
                            </div>
                        </div>
                    </div>
                {%  endfor %}
            </div>
        {% endif %}

        <h4 class="vakInphoPhone">Телефон отдела кадрового обеспечения:<a href="#" type="phone" class="link">+7(495)1236765 (доб 1)</a></h4>

    </div>
</section>
{% endblock %}