{% load static %}

<div class="modalDocs" id="modal_Docs">
    <div class="modalDocsBg"></div>
    <div class="modalDocs_content">
        <div class="modalHeaderDocs">
            <h4 class="modalDocs_text" id="modalDocsName"></h4>
            <div class="docsClose"></div>
        </div>
        <div class="modalDocsImage" id="modalDocsImage">
            <div class="section__intro">
                <div class="slider__introDocs">
                   
                        <div class="introDocs__item">
                            <img loading="lazy" class="introDocs__img" src="{% static "images/logoGray.svg" %}">
                        </div>
                        <div class="introDocs__item">
                            <img loading="lazy" class="introDocs__img" src="{% static "images/logoGray.svg" %}">
                        </div>
                        <div class="introDocs__item">
                            <img loading="lazy" class="introDocs__img" src="{% static "images/logoGray.svg" %}">
                        </div>
                        <div class="introDocs__item">
                            <img loading="lazy" class="introDocs__img" src="{% static "images/logoGray.svg" %}">
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>