{% extends '../base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

    {% include 'modal/modal.html' %}

    <section class="section">
        <div class="container">
            <h1 class="newsTitle">Информация</h1>
            <div class="containerNews">
            {% for info in informations %}
                {% csrf_token %}
                    <div class="cardItem docsOpen" id="{{ info.id }}">
                        {% if info.header|length >= 23 %}
                            <h3 class="cardTitleOver">{{ info.header }}</h3>
                        {% else %}
                            <h3 class="cardTitle">{{ info.header }}</h3>
                        {% endif %}

                        {% if info.text|length >= 500 %}
                            <p class="cardTextOver">{{ info.text }}</p>
                        {% else %}
                            <p class="cardText">{{ info.text }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}