.upContainerText{
    display: flex;
    justify-content: space-between;
}

.upTestText{
    width: 620px;
}

.testTitleItem{
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #AD001E;
    text-align: start;
    margin: 45px 0 25px 0;
}

.testText{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
/* or 123% */

text-align: justify;
text-indent: 50px;

color: #3A3A3A;

}

.AHTUNG{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    /* or 123% */

    text-align: justify;
    text-indent: 50px;

    color: #AD001E;
    margin: 45px 0;
}