{% extends '../base.html' %}
{% load static %}
{% block content %}
<section class="section">
    <div class="container">
        <h2 class="newsTitle">Обратная связь</h2>

        <form class="feedbackForm">
            <input type="text" placeholder="Напишите ваше имя" class="feedbackInput smallInput">
            <input type="email" placeholder="напишите ваш е-мейл" class="feedbackInput smallInput">

            <textarea type="text" placeholder="Напишите ваше сообщение" class="feedbackInput textArea"></textarea>
        </form>

        <div class="formFooterFeedback">
            <input type="checkbox" class="feedbackCheck">
            <label class="feedbackLabel">я не робот</label>

            <button type="submit" class="btn">отправить <img src="{% static "/img/arrow.svg" %}"></button>
        </div>
    </div>
</section>
{% endblock %}