{% extends '../base.html' %}
{% load static %}
{% block content %}
<section class="section">
    <div class="container">
        <h2 class="newsTitle">Страхование</h2>
        <div class="insuranceContaiter">
            <div class="insurHeader">
                <h3 class="insuranceTitle">Страхование трудовых мигрантов</h3>
                <img src="{% static "images/strah.svg" %}">
            </div>
            <p class="insuranceBoldText">Для оформления или переоформления патента на осуществление трудовой деятельности, АНО «ЦППСТА» предлагает заключить договор добровольного медицинского страхования с ведущими страховыми компаниями. Стоимость полиса ДМС является фиксированной для всех страховых компаний и составляет <b style="color: #AD001E;">2100 рублей.</b></p>

            <div class="insuItem">
                <h4 class="insuItemTitle">САО "ВСК"</h4>
                <div style="width: 100%">
                    <p class="insuItemText">Размер страховой суммы, в пределах которой страховая организация оплачивает медицинские услуги, включая репатриацию 350 000 рублей
                        Территория действия договора (полиса) ДМС - Российская Федерация
                        Колл-центр круглосуточно
                        <a href="8(800)755 57 76" class="link">8(800)755 57 76</a>
                        <br/>информации на сайте страховой организации
                        <br/><a href="https://www.vsk.ru/" class="link">https://www.vsk.ru/</a>
                    </p>
                </div>
            </div>

            <div class="insuItem">
                <h4 class="insuItemTitle">АО "Группа страховых компаний "Югория"</h4>
                <div style="width: 100%">
                    <p class="insuItemText">Размер страховой суммы, в пределах которой страховая организация оплачивает медицинские услуги, включая репатриацию 350 000 рублей
                        Территория действия договора (полиса) ДМС - Российская Федерация
                        Колл-центр круглосуточно
                        <a href="8(800)100 70 07" class="link"> 8(800)100 82 00</a>
                        <br/>информации на сайте страховой организации
                        <br/><a href="https://ugsk.ru/" class="link">https://ugsk.ru/</a>
                    </p>

                        <p class="insuItemSubtext">
                            Уставный капитал Югории составляет 2,79 млрд рублей.
Югория — универсальная страховая компания, предоставляющая широкий спектр страховых услуг. Компания осуществляет деятельность по 23 видам страхования и по перестрахованию (с использованием 50 различных правил). Особое внимание Югория уделяет цифровизации страховых услуг, активно развивает онлайн-страхование.
По итогам 2021 года Компания занимает 11 место среди страховщиков России non-life сегмента, входит в ТОП-10 по ОСАГО, и занимает 11 место среди крупнейших страховщиков по Каско.
В ноябре 2021 года Рейтинговое агентство «Эксперт РА» повысило рейтинг финансовой надежности страховой компании Югория до уровня ruA+. Прогноз по рейтингу — стабильный.
Югория сотрудничает с крупнейшими банками по всей стране и аккредитована в 58 из них.
Среди партнеров компании – более 500 ведущих автохолдингов страны во всех регионах России.
Свои перспективы Югория связывает с внедрением еще более высоких стандартов деятельности, улучшением качества страхового продукта и сервисного обслуживания клиентов.
У компании около 2,1 млн клиентов - физических лиц, и более 35 тыс. клиентов - юридических лиц.
Югория сохраняет лидерские позиции в клиентских рейтингах на основных российских агрегаторах отзывов о страховщиках: Banki.ru, ASN-news.ru, Rustrahovka.ru и др. Это говорит о том, что страхователи довольны работой сотрудников Компании и качеством предоставляемых услуг. Югория - лауреат Всероссийской премии «Права потребителей и качество обслуживания». Югория уделяет большое внимание развитию агентских групп. В настоящее время с компанией сотрудничает более 9 000 страховых агентов, их деятельность курирует 500 менеджеров.
Югория – член профессиональных объединений: Всероссийского союза страховщиков, Российского союза автостраховщиков, Ассоциации строителей России, национального союза страховщиков ответственности, НП «Гильдия экспедиторов», российской гильдии риелторов.
                        </p>
                </div>
            </div>

            <div class="insuItem">
                <h4 class="insuItemTitle">ООО СК "Гелиос"</h4>
                <div style="width: 100%">
                    <p class="insuItemText">Размер страховой суммы, в пределах которой страховая организация оплачивает медицинские услуги, включая репатриацию 350 000 рублей
                        Территория действия договора (полиса) ДМС - Российская Федерация
                        Колл-центр круглосуточно
                        <br/><a href="8(918)072 66 11" class="link">8(918)072 66 11</a>
                        <a href="8(800)100 70 07" class="link">8(800)100 70 07</a>
                        <br/>информации на сайте страховой организации
                        <br/><a href="https://skgelios.ru/upload/iblock/064/064f1b77ea014f0bcffb951d47bc9dc5.pdf" class="link">https://skgelios.ru/upload/iblock/064/064f1b77ea014f0bcffb951d47bc9dc5.pdf</a>
                    </p>

                        <p class="insuItemSubtext">
                            ООО Страховая Компания «Гелиос» – это универсальная технологичная страховая компания, оказывающая услуги на финансовом рынке с 1993 года.
                            По Программе ДМС трудовых мигрантов предоставляется следующий объем услуг: страховая сумма 250 000р
                            Оказание первичной медико-санитарной помощи и специализированной медицинской помощи в неотложной форме, назначенные врачом необходимые лечебные и диагностические процедуры (лабораторные исследования в пределах клинического минимума, ультразвуковые исследования, электрокардиография, рентгенография, необходимые для установления диагноза), которые должны быть проведены в связи с произошедшим событием.
                            1. Оказание первичной медико-санитарной помощи и специализированной медицинской помощи в неотложной форме (лечение в стационарных условиях): оказание экстренной медицинской помощи и специализированной медицинской помощи в условиях стационара, назначенные врачом необходимые лечебные процедуры, которые должны быть проведены в связи с произошедшим событием, лекарственные препараты, включенные в утверждаемый Правительством Российской Федерации перечень жизненно необходимых и важнейших лекарственных препаратов для медицинского применения и медицинских изделий, включенных в утверждаемый Правительством Российской Федерации перечень медицинских изделий, в том числе оплата лечебного питания в стационаре, донорской крови и ее компонентов.
                            2. Стоматологическая помощь при острой зубной боли: однократное удаление зуба по медицинским показаниям с анестезией (инфильтрационной или проводниковой). Под острой зубной болью понимается краткая по времени проявления боль с легко идентифицируемой причиной появления.
                            По Программе добровольного медицинского страхования «Репатриация» предоставляется следующий объем услуг: страховая сумма 100 000р
                            в случае смерти, явившейся следствием внезапного заболевания или несчастного случая, возмещаются расходы по организации посмертной репатриации тела Застрахованного лица до аэропорта (железнодорожного вокзала или автовокзала), ближайшего к месту предполагаемого захоронения в стране (месте) постоянного проживания. Расходы на погребение возмещению не подлежат.
                        </p>
                </div>
            </div>

            <div class="insuItem">
                <h4 class="insuItemTitle">АО "АльфаСтрахование"</h4>
                <div style="width: 100%">
                    <p class="insuItemText">Размер страховой суммы, в пределах которой страховая организация оплачивает медицинские услуги, включая репатриацию 350 000 рублей
                        Территория действия договора (полиса) ДМС - Российская Федерация
                        Колл-центр круглосуточно
                        <br/><a href="8(964)190 20 11" class="link">8(800)100 70 07</a>
                        <a href="8(342)218 23 61" class="link">8(800)100 70 07</a>
                        <br/>информации на сайте страховой организации
                        <br/><a href="https://www.alfastrah.ru/individuals/life" class="link">https://www.alfastrah.ru/individuals/life</a>
                    </p>
                </div>
            </div>

            <div class="insuItem">
                <h4 class="insuItemTitle">ПАО СК "Росгосстрах"</h4>
                <div style="width: 100%">
                    <p class="insuItemText">Размер страховой суммы, в пределах которой страховая организация оплачивает медицинские услуги, включая репатриацию 350 000 рублей
                        Территория действия договора (полиса) ДМС - Российская Федерация
                        Колл-центр круглосуточно
                        <br/><a href="8(800)200 13 04" class="link">8(800)200 13 04</a>
                        <a href="8(800)200 09 00" class="link">8(800)200 09 00</a>
                        <br/>информации на сайте страховой организации
                        <br/><a href="https://www.rgs.ru/products/private_person/health/dms/generalinfo/index.wbp" class="link">https://www.rgs.ru/products/private_person/health/dms/generalinfo/index.wbp</a>
                    </p>

                    <p class="insuItemSubtext">
                        Программа добровольного медицинского страхования для иностранных граждан и лиц без гражданства, находящихся на территории РФ с целью осуществления трудовой деятельности.
                        ПАО СК «Росгосстрах» при наступлении страхового случая оплачивает расходы на оказание медицинских услуг застрахованному лицу в пределах страховой суммы, предусмотренной договором страхования.
                        Программа включает:
                        1.Первичная медико-санитарная и специализированная медицинская помощь в неотложной форме.
                        2.Репатриация.
                        Преимущества программы страхования «РГС ГОСТЬ 220»:
                        1.Доступная стоимость полиса
                        2.Без проведения предварительного медицинского освидетельствования. Без заполнения заявления.
                        3.Широкий перечень медицинских учреждений, оказывающих медицинскую помощь по программе страхования.
                        4.Оказание помощи 24 часа в сутки 7 дней в неделю
                        5.Программа соответствует требованиям Федерального закона № 114-ФЗ от 15.08.1996 г.
                        Полис действует на всей территории Российской Федерации.
                    </p>
                </div>
            </div>

            <div class="insuItem">
                <h4 class="insuItemTitle">ООО "Капитал Лайф Страхование жизни"</h4>
                <div style="width: 100%">
                    <p class="insuItemText">Размер страховой суммы, в пределах которой страховая организация оплачивает медицинские услуги, включая репатриацию 350 000 рублей
                        Территория действия договора (полиса) ДМС - Российская Федерация
                        Колл-центр круглосуточно
                        <a href="8 (800) 700 24 34" class="link">8 (800) 700 24 34</a>
                        <br/>информации на сайте страховой организации
                        <br/><a href="https://kaplife.ru/contacts/perm" class="link">https://kaplife.ru/contacts/perm</a>
                    </p>

                    <p class="insuItemSubtext">
                        ТОП-3 среди страховых групп в России Более 24 млн застрахованных россиян №2 по количеству клиентов
                        в накопительном страховании жизни №2 по количеству клиентов в ОМС №1 ПО КОЛИЧЕСТВУ ДЕЙСТВУЮЩИХ ДОГОВОРОВ ДОБРОВОЛЬНОГО МЕДИЦИНСКОГО СТРАХОВАНИЯ По итогам 2021 года доля КАПИТАЛ LIFE в этом сегменте составляет 31% среди страховщиков жизни
                        СТРАХОВАТЕЛИ
                        Физические лица - граждане РФ, иностранные граждане и лица без гражданства, обладающее гражданской дееспособностью
                        Российское или иностранное юридическое лицо любой организационно-правовой формы, зарегистрированное и действующее в соответствии с законодательством РФ
                        ЗАСТРАХОВАННЫЕ ЛИЦА
                        Застрахованными могут быть иностранные граждане, находящиеся на территории Российской Федерации с целью осуществления трудовой деятельности в возрасте от 16 до 65 лет (включительно)
                        Застрахованным лицом может являться
                        сам Страхователь
                    </p>
                </div>
            </div>

            <div class="insuItem">
                <h4 class="insuItemTitle">ПАО "Группа Ренессанс Страхование"</h4>
                <div style="width: 100%">
                    <p class="insuItemText">Размер страховой суммы, в пределах которой страховая организация оплачивает медицинские услуги, включая репатриацию 350 000 рублей
                        Территория действия договора (полиса) ДМС - Российская Федерация
                        Колл-центр круглосуточно
                        <a href="8 (800) 333-8-800" class="link">8 (800) 333-8-800</a>
                        <br/>информации на сайте страховой организации
                        <br/><a href="https://www.renins.ru/claims/ns" class="link">https://www.renins.ru/claims/ns</a>
                    </p>

                </div>
            </div>

            <div class="insuItem">
                <h4 class="insuItemTitle">Страховая Группа "СОГАЗ"</h4>
                <div style="width: 100%">
                    <p class="insuItemText">Размер страховой суммы, в пределах которой страховая организация оплачивает медицинские услуги, включая репатриацию 350 000 рублей
                        Территория действия договора (полиса) ДМС - Российская Федерация
                        Колл-центр круглосуточно
                        <a href="8 (800) 333 44 19" class="link">8 (800) 333 44 19</a>
                        <br/>информации на сайте страховой организации
                        <br/><a href="https://www.sogaz.ru/corporate/staff/voluntary" class="link">https://www.sogaz.ru/corporate/staff/voluntary</a>
                    </p>

                </div>
            </div>

            <div class="insuItem">
                <h4 class="insuItemTitle">СПАО "Ингосстрах"</h4>
                <div style="width: 100%">
                    <p class="insuItemText">Размер страховой суммы, в пределах которой страховая организация оплачивает медицинские услуги, включая репатриацию 350 000 рублей
                        Территория действия договора (полиса) ДМС - Российская Федерация
                        Колл-центр круглосуточно
                        <a href="8 (800) 200-39-47" class="link">8 (800) 200-39-47</a>
                        <br/>информации на сайте страховой организации
                        <br/><a href="https://www.alfastrah.ru/individuals/life" class="link">https://www.alfastrah.ru/individuals/life</a>
                    </p>

                </div>
            </div>

            <div class="insuItem">
                <h4 class="insuItemTitle">АО "МАКС"</h4>
                <div style="width: 100%">
                    <p class="insuItemText">Размер страховой суммы, в пределах которой страховая организация оплачивает медицинские услуги, включая репатриацию 350 000 рублей
                        Территория действия договора (полиса) ДМС - Российская Федерация
                        Колл-центр круглосуточно
                        <a href="8 (800) 333 44 03" class="link">8 (800) 333 44 03</a>
                        <br/>информации на сайте страховой организации
                        <br/><a href="https://makc.ru/upload/RULES/DMS_MIGRANT_EMC/DMS_EMC_RULES.doc" class="link">https://makc.ru/upload/RULES/DMS_MIGRANT_EMC/DMS_EMC_RULES.doc</a>
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}