{% extends '../base.html' %}
{% load static %}
{% block content %}
<section class="section">
    <div class="container">
        <h2 class="newsTitle">Страхование</h2>
        <div class="insuranceContaiter">
            <div class="insurHeader">
                <h3 class="insuranceTitle">Страхование трудовых мигрантов</h3>
                <img src="{% static "images/strah.svg" %}">
            </div>
            <p class="insuranceBoldText">Для оформления или переоформления патента на осуществление трудовой деятельности, АНО «ЦППСТА» предлагает заключить договор добровольного медицинского страхования с ведущими страховыми компаниями. Стоимость полиса ДМС является фиксированной для всех страховых компаний и составляет <b style="color: #AD001E;">2500 рублей.</b></p>

            {% for service in services %}
                <div class="insuItem">
                <h4 class="insuItemTitle">{{ service.name }}</h4>
                <div style="width: 100%">
                    <p class="insuItemText">
                        {{ service.text }}
                    </p>
                    <p class="insuItemSubtext">{{ service.subtext }}</p>
                </div>
            </div>
            {%  endfor %}
        </div>
    </div>
</section>

{% endblock %}