{% extends '../base.html' %}
{% load static %}
{% block content %}
<section class="section">
    <div class="container">
        <h2 class="newsTitle">Тестирование</h2>
        <div class="insuranceContaiter">
            <div class="insurHeader">
                <h3 class="insuranceTitle">Экзамен по русскому языку как иностранному</h3>
                <img src="{% static "/images/test.svg" %}">
            </div>

            <div class="upContainerText">
                <div class="upTestText">
                    <p class="testText">В нашем Центре тестирования Вы можете пройти комплексный экзамен на знание русского языка, как иностранного, истории России и основам законодательства РФ по уровням: Патент, РВП и ВНЖ.
                        После успешной сдачи комплексного экзамена на Патент, РВП и ВНЖ выдаётся сертификат государственного образца.</p>
                        <h3 class="testTitleItem">Мигранты выбирают именно наш Центр, потому что:</h3>
                        <p class="testText">
                            •Удобство получения всех видов услуг, необходимых для цели въезда на территорию в РФ
                            в одном месте;
                            <br/>•Сертификат выдается в течении 5 рабочих дней;
                            <br/>•Сертификат действителен на всей территории РФ;
                            <br/>•Если вы плохо говорите и понимаете русский язык, мы поможем Вам подготовиться. В нашем центре тестирования можно пройти курсы по подготовке к комплексному экзамену.
                        </p>
                </div>
                <img src="{% static "images/testSerf.png" %}">
            </div>

            <div class="testTextITem">
                <h3 class="testTitleItem">Тестирование по русскому языку для получения патента</h3>

                <p class="testText">
                    Сертификат для иностранного работника о прохождении государственного экзамена входит в пакет документов, необходимых для осуществления трудовой деятельности на территории РФ в полном соответствии с трудовым законодательством РФ. Для того чтобы получить данный сертификат, Вам необходимо успешно сдать комплексный экзамен.
                    Продолжительность проведения экзамена 1-го уровня составляет не более 80 мин.
                    Условием выдачи иностранному гражданину или лицу без гражданства сертификата о владении русским языком, знании истории России основ законодательства Российской Федерации на уровне, соответствующем цели получения разрешения на работу или патента, является успешно сданный экзамен: получение участником не менее 10 баллов за выполнение экзаменационной работы (не менее 5 баллов должно быть получено за ответы на задания по русскому языку как иностранному, не менее 2 баллов – за ответы на задания по истории России и не менее 3 баллов – за ответы на задания по основам законодательства Российской Федерации).
                    В день тестирования проводится инструктаж для всех зарегистрированных на него граждан. Вас информируют о времени, структуре и форме проведения экзамена, а также о том, что будет осуществляться видеофиксация процесса.
                    Необходимые документы для прохождения теста для трудовых мигрантов:
                    •Паспорт и его перевод, заверенный у нотариуса (заверять перевод нужно в России). Перевод можно оформить в нашем центре.
                    •Уведомление о постановке на миграционный учет по месту пребывания.
                    •Миграционная карта.
                    •Квитанция об оплате комплексного экзамена на необходимый уровень.
                    Стоимость тестирования для получения патента в нашем центре составляет 3000 руб.
                    После успешной сдачи экзамена кандидат получает сертификат государственного образца.
                    Сертификат выдается в течение 5 рабочих дней.
                    Срок действия сертификата 3 года.
                </p>
            </div>

            <div class="testTextITem">
                <h3 class="testTitleItem">Комплексный экзамен по русскому языку, истории России и основам законодательства РФ</h3>

                <p class="testText">
                    В нашем центре Вы можете получить сертификат о знании русского языка для получения РВП (РВП - разрешение на временное проживание). Данный сертификат можно получить после успешной сдачи комплексного экзамена.
Продолжительность проведения экзамена 2-го уровня составляет не более 90 мин.
Условием выдачи иностранному гражданину и лицу без гражданства сертификата о владении русским языком, знании истории России и основ законодательства Российской Федерации на уровне, соответствующем цели получения разрешения на временное проживание в Российской Федерации, является успешно сданный экзамен: получение участником не менее 19 баллов за выполнение экзаменационной работы (из них не менее 13 баллов должно быть получено за ответы на задания по русскому языку как иностранному, не менее 3 баллов должно быть получено за ответы на задания по истории России, не менее 3 баллов должно быть получено за ответы на задания по основам законодательства Российской Федерации).
В день тестирования проводится инструктаж для всех зарегистрированных на него граждан. Вас информируют о времени, структуре и форме проведения экзамена, а также о том, что будет осуществляться видеофиксация процесса.
Необходимые документы для прохождения теста для трудовых мигрантов:
•Паспорт и его перевод, заверенный у нотариуса (заверять перевод нужно в России). Перевод можно оформить в нашем центре.
•Уведомление о постановке на миграционный учет по месту пребывания.
•Миграционная карта.
•Квитанция об оплате комплексного экзамена на необходимый уровень.
Стоимость тестирования для получения патента в нашем центре составляет 4600 руб.
После успешной сдачи экзамена кандидат получает сертификат государственного образца.
Сертификат выдается в течение 5 рабочих дней.
Срок действия сертификата 3 года.
                </p>
            </div>

            <div class="testTextITem">
                <h3 class="testTitleItem">Комплексный экзамен для ВНЖ</h3>

                <p class="testText">
                    В нашем центре Вы можете получить сертификат о знании русского языка для получения ВНЖ (ВНЖ – вид на жительство). Данный сертификат можно получить после успешной сдачи комплексного экзамена.
Продолжительность проведения экзамена 3-го уровня составляет не более 90 мин.
Условием выдачи иностранному гражданину и лицу без гражданства сертификата о владении русским языком, знании истории России основ законодательства Российской Федерации на уровне, соответствующем цели получения вида на жительство в Российской Федерации, является успешно сданный экзамен: получение участником не менее 21 балла за выполнение экзаменационной работы (из них не менее 15 баллов должно быть получено за ответы на задания по русскому языку как иностранному, не менее 3 баллов должно быть получено за ответы на задания по истории России, не менее 3 баллов должно быть получено за ответы на задания по основам законодательства Российской Федерации).
В день тестирования проводится инструктаж для всех зарегистрированных на него граждан. Вас информируют о времени, структуре и форме проведения экзамена, а также о том, что будет осуществляться видеофиксация процесса.
Необходимые документы для прохождения теста для трудовых мигрантов:
•Паспорт и его перевод, заверенный у нотариуса (заверять перевод нужно в России). Перевод можно оформить в нашем центре.
•Уведомление о постановке на миграционный учет по месту пребывания.
•Миграционная карта.
•Квитанция об оплате комплексного экзамена на необходимый уровень.
Стоимость тестирования для получения патента в нашем центре составляет 4100 руб.
После успешной сдачи экзамена кандидат получает сертификат государственного образца.
Сертификат выдается в течение 5 рабочих дней.
Срок действия сертификата бессрочно.
                </p>
            </div>

            <p class="AHTUNG">
                Важная информация!<br/>
Уважаемый соискатель, призываем Вас к пониманию следующего факта: тестирование длится 1,5 часа, поэтому рекомендуем Вам прибыть на тестирование без сопровождающих и детей, поскольку это будет отвлекать от работы Вас и окружающих соискателей.
Также, обращаем Ваше внимание на то, что кандидатам, имеющим проблемы со зрением, для успешного прохождения тестирования необходимо иметь при себе очки!
            </p>

            <div class="testTextITem">
                <h3 class="testTitleItem">Комплексный экзамен для ВНЖ</h3>

                <p class="testText">
                    Вы можете пройти пробный тест онлайн по русскому языку

                    <br/><a href="http://inostr-exam.fipi.ru/xmodules/qprint/index.php" class="link">http://inostr-exam.fipi.ru/xmodules/qprint/index.php</a>
                    Уровень патент (Кнопка-ссылка)
                    <br/><a href="http://inostr-exam.fipi.ru/xmodules/qprint/index.php?proj=6D85986C823F823D45B5911DE1041F8E" class="link">http://inostr-exam.fipi.ru/xmodules/qprint/index.php?proj=6D85986C823F823D45B5911DE1041F8E</a>
                    Уровень РВП (Кнопка-ссылка)
                    <br/><a href="http://inostr-exam.fipi.ru/xmodules/qprint/index.php?proj=AD823C35EFF08A5E47AF731FAC55BCB9" class="link">http://inostr-exam.fipi.ru/xmodules/qprint/index.php?proj=AD823C35EFF08A5E47AF731FAC55BCB9</a>
                    Уровень ВНЖ (Кнопка-ссылка)
                    <br/><a href="http://inostr-exam.fipi.ru/xmodules/qprint/index.php?proj=8FFB3FDC1B9E9DB740E528C8E1058CF0" class="link">http://inostr-exam.fipi.ru/xmodules/qprint/index.php?proj=8FFB3FDC1B9E9DB740E528C8E1058CF0</a>
                </p>
            </div>

            <div class="testTextITem">
                <h3 class="testTitleItem">Комплексный экзамен для ВНЖ</h3>

                <p class="testText">
                    Экзамен проводится в соответствии со следующими нормативными документами:<br/>

                    <br/>•Федеральный закон от 25 июля 2002 г. № 115-ФЗ «О правовом положении иностранных граждан в Российской Федерации»
                    <br/>•Постановление Правительства Российской Федерации от 31 мая 2021 г. № 824 «Об утверждении Положения о проведении экзамена по русскому языку как иностранному, истории России и основам законодательства Российской Федерации»
                    <br/>•Постановление Правительства Российской Федерации от 31 мая 2021 г. № 840 «Об утверждении требований к минимальному уровню знаний, необходимых для сдачи экзамена по русскому языку как иностранному, истории России и основам законодательства Российской Федерации»
                    <br/>•Приказ Федеральной службы по надзору в сфере образования и науки от 18 мая 2021 г. № 675 «О контрольных измерительных материалах для проведения экзамена по русскому языку как иностранному, истории России и основам законодательства Российской Федерации и периодичности их пересмотра» (зарегистрирован Минюстом России 17 июня 2021 г., регистрационный № 63 902)
                    <br/>•Приказ Министерства науки и высшего образования Российской Федерации от 26 мая 2021 г. № 400 «Об утверждении форм сертификата о владении русским языком, знании истории России и основ законодательства Российской Федерации на уровне, соответствующем цели получения разрешения на временное проживание или вида на жительство, разрешения на работу или патента, технических требований к нему, а также порядка выдачи указанного сертификата» (зарегистрирован Минюстом России, 09 июня 2021 г., регистрационный № 63 823).
                </p>
            </div>

        </div>
    </div>
</section>
{% endblock %}