.search{
    width: 100%;
    margin-top: 30px;
}

.searchContainer{

    .formSrch{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .containerSrc{
        max-width: 840px;
        width: 100%;
        height: 100%;
        position: relative;
    }

    .srch{
        width: 100%;
        height: 40px;
        border: 1px solid #AD001E;
    }

    img{
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .srchText{
        font-family: 'Ruda';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        width: 130px;
        color: #AD001E;
        text-decoration: none;
        transition: .3s linear;

        &:hover{
            color: #5B065A;
        }
    }
    
}