<!DOCTYPE html>
<html lang="ru">
    <head>
        @@include("../blocks/modules/head/head.html")
    </head>
    <body>
        <div id="bg" class="bg__preloader"></div>
        <div id="preloader">
            <div class="pre_wrapper">
                <img loading="lazy" src="{% static "/img/LOGO.svg" %}">
            </div>
        </div>
        <script>
            $(window).on('load', function () {
                var $preloader = $('#preloader');
                var $bg = $('#bg');
                $bg.delay(1500).fadeOut('slow');
                $preloader.delay(300).fadeOut('slow');
            });
        </script>
        @@include("../blocks/modules/header/header.html")
        @@include("../blocks/modules/modalCoocke/modalCoocke.html")
        @@include("../blocks/modules/modalDocs/modalDocs.html")
        @@include("../blocks/modules/navigation/navigation.html")
        @@include("../blocks/modules/search/search.html")
        @@include("../blocks/modules/slider/slider.html")
        @@include("../blocks/modules/cardList/cardList.html")
        @@include("../blocks/modules/historyBlog/historyBlog.html")
        @@include("../blocks/modules/docs/docs.html")
        @@include("../blocks/modules/vakansii/vakansii.html")
        @@include("../blocks/modules/newNews/newNews.html")
        @@include("../blocks/modules/services/services.html")
        @@include("../blocks/modules/contacts/contacts.html")
        @@include("../blocks/modules/feedback/feedback.html")
        @@include("../blocks/modules/insuranceStatick/insuranceStatick.html")
        @@include("../blocks/modules/testStatick/testStatick.html")
        @@include("../blocks/modules/docsStatick/docsStatick.html")
        @@include("../blocks/modules/newsOpen/newsOpen.html")
        @@include("../blocks/modules/aboutUs/aboutUs.html")
        @@include("../blocks/modules/errorScreen/errorScreen.html")
        @@include("../blocks/modules/footer/footer.html")
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/Shuffle/5.2.3/shuffle.min.js"></script>

        <script src="{% static "/js/main.js" %}"></script>
        <script defer type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    </body>
</html>