{% extends '../base.html' %}
{% load static %}
{% block content %}
<section class="section">
    <div class="container">
        <div class="activityContainer">
            {% for doc in docs %}
                <a href="#" class="activityItem">
                    <img loading="lazy" class="activity__img" src="{{ doc.previewImage.url }}">
                    <h3 class="activityTitle">{{ doc.name}}</h3>
                </a>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}