{% extends '../base.html' %}
{% load static %}
{% block content %}
<section class="section">
    <div class="container">
        <h1 class="newsTitle">Уставные документы Автономной Некоммерческой организации
            «Центр помощи, поддержки, социальной и трудовой адаптации»</h1>
            <div class="containerDocs">
                {% for doc in regular %}
                {% include '../modal/modal.html' with doc=doc %}
                    <div class="docsItem docsOpen">
                        <h4 class="docsTitle">{{ doc.name }}</h4>
                        <div class="containerImgDocs">
                           <a class="linkDocks">
                            <img class="imgDocs" src="{{ doc.previewImage.url }}">
                           </a>
                        </div>
                    </div>
                {% endfor %}

                <p>{{ regular|1|get_item }}</p>
            </div>
        <h1 class="newsTitle">Прочие ДОКУМЕНТЫ</h1>
            <div class="containerDocs">
                {% for doc in other %}
                    <div class="docsItem docsOpen">
                        <h4 class="docsTitle">{{ doc.name }}</h4>
                        <div class="containerImgDocs">
                           <a class="linkDocks">
                            <img class="imgDocs" src="{{ doc.previewImage.url }}">
                           </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
    </div>
</section>
{% endblock %}