{% extends '../base.html' %}
{% load static %}
{% block content %}
<section class="section">
    <div class="container">
        <h1 class="newsTitle">о нас</h1>

        <div class="aboutUscontainer">
            <div class="imgAboutContainer">
                <img loading="lazy" class="news__img" src="{% static "/img/sliderImg.png" %}">
                <p class="textNews">Для реализации мероприятий, направленных на создание сети исправительных центров, а также повышения эффективности оказания услуг иностранным гражданам, 11.05.2022 была создана Автономная некоммерческая организация «Центр социальной и трудовой адаптации», ИНН 5903153110 (Далее – АНО «ЦППСТА»).
                    Единственным учредителем выступило государственное автономное учреждение Пермского края «Многофункциональный миграционный центр» (ссылка на сайт учредителя будет позже, сайт в разработке).</p>
            </div>

            <div>
                <h3 class="insuranceTitle">Основная цель деятельности</h3>
                <p class="textNews">Основной целью деятельности АНО «ЦППСТА» является оказание услуг физическим и юридическим лицам на территории Пермского края в содействии социальной и трудовой адаптации граждан, осужденных к принудительным работам, социализации и оказанию квалифицированной помощи трудовым мигрантам, а также оказание содействия в проведении мероприятий по защите прав и свобод человека и гражданина.</p>
            </div>

            <div>
                <h3 class="insuranceTitle">Дополнительные цели деятельности</h3>
                <p class="textNews">Дополнительными целями деятельности АНО «ЦППСТА» является оказание услуг поддержки, помощи: физическим и юридическим лицам, органам исполнительной власти, в том числе федеральной, деятельность которых направлена на охрану общественного порядка, защиту населения, территории, материальных и культурных ценностей от опасностей, возникающих от чрезвычайных ситуаций природного и техногенного характера, терроризма, экстремизма, а также в условиях проведения специальной военной операции по защите ДНР и ЛНР, минимизации их последствий, иных опасностей, возникающих при ведении военных действий или вследствие этих действий.
                    оказание услуг в области развития общественно-полезных инициатив, поддержки проектов и социально значимых инициатив в сфере гражданско-патриотического и военно-патриотического воспитания граждан, науки, культуры, искусства, здравоохранения, профилактики и охраны здоровья граждан, а также деятельности в области содействия благотворительности и добровольчества.</p>
            </div>
        </div>

        <div class="activityContainer">
            {% for doc in docs %}
                <a href="#" class="activityItem">
                    <img loading="lazy" class="activity__img" src="{{ doc.previewImage.url }}">
                    <h3 class="activityTitle">{{ doc.name}}</h3>
                </a>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}