{% extends '../base.html' %}
{% load static %}
{% block content %}
<section class="section">
    <div class="container">
        <h1 class="newsTitle">Наши вакансии</h1>

        <div class="containerVak">
            <div class="contVakItem">
                <h3 class="vaktitle">Бухгалтер</h3>
                <div class="vakInfo">
                    <img class="imgVak" src="{% static "/img/Rectangle.png" %}">
                    <div class="vakIngoText">
                        <h4 class="vakInfoTitle">Ключевые требования</h4>
                        <p class="vakInfoTextItem">В своём стремлении повысить качество жизни, они забывают, что базовый вектор развития играет важную роль </p>

                        <h4 class="vakInfoTitle">Ключевые требования</h4>
                        <p class="vakInfoTextItem">В своём стремлении повысить качество жизни, они забывают, что базовый вектор развития играет важную роль </p>

                        <h4 class="vakInfoTitle">Ключевые требования</h4>
                        <p class="vakInfoTextItem">В своём стремлении повысить качество жизни, они забывают, что базовый вектор развития играет важную роль </p>

                        <h4 class="vakInfoPrice">ЗП от 55 000 р</h4>
                    </div>
                </div>
            </div>

            <div class="contVakItem">
                <h3 class="vaktitle">Бухгалтер</h3>
                <div class="vakInfo">
                    <img class="imgVak" src="{% static "/img/Rectangle.png" %}">
                    <div class="vakIngoText">
                        <h4 class="vakInfoTitle">Ключевые требования</h4>
                        <p class="vakInfoTextItem">В своём стремлении повысить качество жизни, они забывают, что базовый вектор развития играет важную роль </p>

                        <h4 class="vakInfoTitle">Ключевые требования</h4>
                        <p class="vakInfoTextItem">В своём стремлении повысить качество жизни, они забывают, что базовый вектор развития играет важную роль </p>

                        <h4 class="vakInfoTitle">Ключевые требования</h4>
                        <p class="vakInfoTextItem">В своём стремлении повысить качество жизни, они забывают, что базовый вектор развития играет важную роль </p>

                        <h4 class="vakInfoPrice">ЗП от 55 000 р</h4>
                    </div>
                </div>
            </div>

            <div class="contVakItem">
                <h3 class="vaktitle">Бухгалтер</h3>
                <div class="vakInfo">
                    <img class="imgVak" src="{% static "/img/Rectangle.png" %}">
                    <div class="vakIngoText">
                        <h4 class="vakInfoTitle">Ключевые требования</h4>
                        <p class="vakInfoTextItem">В своём стремлении повысить качество жизни, они забывают, что базовый вектор развития играет важную роль </p>

                        <h4 class="vakInfoTitle">Ключевые требования</h4>
                        <p class="vakInfoTextItem">В своём стремлении повысить качество жизни, они забывают, что базовый вектор развития играет важную роль </p>

                        <h4 class="vakInfoTitle">Ключевые требования</h4>
                        <p class="vakInfoTextItem">В своём стремлении повысить качество жизни, они забывают, что базовый вектор развития играет важную роль </p>

                        <h4 class="vakInfoPrice">ЗП от 55 000 р</h4>
                    </div>
                </div>
            </div>

            <div class="contVakItem">
                <h3 class="vaktitle">Бухгалтер</h3>
                <div class="vakInfo">
                    <img class="imgVak" src="{% static "/img/Rectangle.png" %}">
                    <div class="vakIngoText">
                        <h4 class="vakInfoTitle">Ключевые требования</h4>
                        <p class="vakInfoTextItem">В своём стремлении повысить качество жизни, они забывают, что базовый вектор развития играет важную роль </p>

                        <h4 class="vakInfoTitle">Ключевые требования</h4>
                        <p class="vakInfoTextItem">В своём стремлении повысить качество жизни, они забывают, что базовый вектор развития играет важную роль </p>

                        <h4 class="vakInfoTitle">Ключевые требования</h4>
                        <p class="vakInfoTextItem">В своём стремлении повысить качество жизни, они забывают, что базовый вектор развития играет важную роль </p>

                        <h4 class="vakInfoPrice">ЗП от 55 000 р</h4>
                    </div>
                </div>
            </div>
        </div>

        <h4 class="vakInphoPhone">Телефон отдела кадрового обеспечения:<a href="#" type="phone" class="link">+7(495)1236765 (доб 1)</a></h4>


        <!--ЕСЛИ НЕТ ВАКАНСИЙ-->
        <div class="noVacans">
            <img class="noVakImg" src="{% static "/img/logoGray.svg" %}">
            <p class="noVakText">В настоящее время открытых вакансий нет</p>
        </div>

    </div>
</section>
{% endblock %}