{% extends '../base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<section class="section">
    <div class="container">
        <h1 class="newsTitle">Новости</h1>
        <div class="containerNews">
        {% for post in posts %}
           
                <a href="{% url 'post' post.id %}" class="linkNewNews">
                    <div class="newNewsItem">
                        <p class="newsDate">{{ post.date }}</p>
                        <div class="nontentNews">
                            <img src="{{ post.previewImage.url }}" class="newsImg">
                            <h3 class="newsText">{{ post.header }}</h3>
                        </div>
                    </div>
                </a>
            
        {% endfor %}
        </div>
    </div>
</section>
{% endblock %}