{% extends '../base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<section class="section">
    <div class="container">
        <h1 class="newsTitle">Новости</h1>
        <h3 class="newsSubTitle">{{ post.header }}</h3>
        {% if gallery.count <= 3 %}
            <div class="notSliderNewsImageContainer">
                {% for img in gallery %}
                    <div class="notSliderNewsImageContainer">
                        <img loading="lazy" class="introNews__img" src="{{ img.image.url }}">
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="section__intro">
                <div class="slider__introNews">
                    {% for img in gallery %}
                        <div class="introNews__item">
                            <img loading="lazy" class="introNews__img" src="{{ img.image.url }}">
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <p class="textNews">{{ post.text }}</p>
    </div>
</section>
{% endblock %}