{% extends '../base.html' %}
{% load static %}
{% block content %}
<section class="section">
    <div class="container">
        <h1 class="newsTitle">Новости</h1>
        <h3 class="newsSubTitle">Первая Пермская Конференция по вопросам мигрантов</h3>
        <div class="section__intro">
            <div class="slider__introNews">
                <div class="introNews__item">
                    <img loading="lazy" class="news__img" src="{% static "/img/sliderImg.png" %}">
                </div>

                <div class="introNews__item">
                    <img loading="lazy" class="news__img" src="{% static "/img/sliderImg.png" %}">
                </div>

                <div class="introNews__item">
                    <img loading="lazy" class="news__img" src="{% static "/img/sliderImg.png" %}">
                </div>

                <div class="introNews__item">
                    <img loading="lazy" class="news__img" src="{% static "/img/sliderImg.png" %}">
                </div>

            </div>
        </div>

        <p class="textNews">
            В Перми состоялась Первая Пермская Конференция по вопросам адаптации и интеграции трудовых мигрантов и членов их семей

На одной площадке выступили спикеры – представители министерств, управлений и ведомств Пермского края с информационными докладами и в формате диалога и обсуждений за круглыми столами, спикеры и участники конференции смогли провзаимодействовать друг с другом, подискутировать, и найти интересующие ответы на вопросы.

Организаторами Конференции выступили подведомственные учреждения министерства территориальной безопасности Пермского края: государственное автономное учреждение Пермского края «Многофункциональный миграционный центр», а также автономная некоммерческая организация «Центр помощи, поддержки, социальной и трудовой адаптации».
Отдельно стоит отметить спикеров мероприятия – это представители Управления по вопросам миграции ГУ МВД России по Пермскому краю, представители министерств Пермского края по спорту, образованию, социальному развитию, культуры, территориальной безопасности, а также представители бизнес-сообщества.
Коллеги поделились опытом и представили свои лучшие практики по адаптации и интеграции трудовых мигрантов и членов их семей.
Для удобства слушателей и для более эффективного получения информации Конференция была разделена на тематические секции.

Участниками конференции были представители национальных общин и диаспор Армении, Киргизии, Азербайджана, Таджикистана, Узбекистана, а также представители студенческого сообщества, представляющие Пермский государственный национальный исследовательский университет, а также Пермский национальный исследовательский политехнический университет.

Также стоит отметить участие в конференции главы регионального исполкома ОНФ в Пермском крае Елены Шлыковой и сопредседателя регионального штаба ОНФ в Пермском крае, депутата Законодательного Собрания Пермского края Алексея Мельникова, а также директора департамента национальных и религиозных отношений Администрации губернатора Пермского края Анастасии Субботиной.

На Конференции с докладами выступили руководство и сотрудники министерства территориальной безопасности: Виктор Батмазов, Альберт Марданов, Юлия Калабина, Наиль Гилязетдинов.

Первый заместитель министра территориальной безопасности Пермского края Альберт Марданов отметил, что адаптации в социально-бытовую жизнь не только самих трудовых мигрантов, но членов их семей очень важна и требует организованной, системной и структурированной работы. Выстраивание политики интеграции трудовых мигрантов должно опираться не на сложившиеся в обществе стереотипы, а на надежную информационную основу. В политике интеграции трудовых мигрантов необходимо уделять внимание социально-культурному и бытовому аспекту (изучению языка, адаптации к культурным и общественным нормам жизни.

Министр территориальной безопасности Виктор Батмазов поблагодарил организаторов и присутствующих представителей диаспор за мероприятие. Планируется рассмотреть вопрос об организации подобного форума уже с участием иностранных студентов. Готовность сотрудничать в данном вопросе выразили представители ПНИПУ.
        </p>
    </div>
</section>
{% endblock %}