<!DOCTYPE html>
<html lang="ru">
<head>
    {%load static%}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>gulp-scss-starter</title>

    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Ruda:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <link rel="stylesheet" href="{% static "css/main.css" %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/6d0367a1ce.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://raw.github.com/javanto/jquery-fileinput/3.1.0/dist/jquery.fileinput.min.js"></script>
</head>

<body>
    <div id="bg" class="bg__preloader"></div>
    <div id="preloader">
        <div class="pre_wrapper">
            <img loading="lazy" src="{% static "images/LOGO.svg" %}">
        </div>
    </div>

    <script>
        $(window).on('load', function () {
            var $preloader = $('#preloader');
            var $bg = $('#bg');
            $bg.delay(1500).fadeOut('slow');
            $preloader.delay(300).fadeOut('slow');
        });
    </script>

    <header class="header">
        <div class="headerContainer">
            <div class="logo">
                <img src="{% static "images/LOGO.svg" %}" class="logoIcon">
            </div>

            <h1 class="headerTitle">Центр помощи, поддержки,<br/>
                социальной и трудовой миграций</h1>

            <div class="userProfileContainer">
                <div style="display: flex; justify-content: center; align-items: center; flex-direction: row;">
                    <a href="tel:+7(342)258-20-17" class="phone" >+7 (342) 258-20-17</a>
                    <a href="#" class="lng langOpen">
                        <img src="{% static "images/ru.png" %}">
                        русский
                    </a>
                </div>

                <div class="modalUserBg"></div>
                <div class="userInfo">
                  <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
                    <img class="userIcon" src="{% static "images/user.svg" %}">
                    <p class="userName">Иван Иванов</p>
                    <img src="{% static "images/dots.svg" %}" class="dots">
                  </div>
                </div>
                <div class="userInfoModal">
                    <div style="display: flex; justify-content: space-between; align-items: flex-start;">
                      <img class="userIcon" src="{% static "images/user.svg" %}">

                      <div style="margin-top: 10px; margin-left: 50px;">
                        <p class="userNameModal">Иван Иванов</p>
                        <div>
                            <p class="userNameModal">Тест тест</p>
                            <p class="userNameModal">Тест тест</p>
                            <p class="userNameModal">Тест тест</p>
                        </div>
                      </div>
                    </div>
              </div>
                <div class="navLoggin">
                    <a href="#">вход</a>
                    <a href="#">помощь ?</a>
                </div>
            </div>
        </div>
        <div class="openNav">
            <div class="opennavItem"></div>
        </div>
    </header>


    <div class="modalLAng">
        <div class="modalDocsBg"></div>
        <div class="modalLang_content">
            <div class="modalHeaderDocs">
                <h4 class="modalLang_text">Выберите язык</h4>
                <div class="docsClose langClose"></div>
            </div>
            <div class="langMenu">
                <div class="langItem">

                    <input type="checkbox" id="cb1"/>
                    <img class="imgLang" src="{% static "images/ru.png" %}"/>
                    <label class="langText">русский</label>
                </div>
                <div class="langItem">
                    <div>
                        <input type="checkbox" id="cb2"/>
                    </div>
                    <img class="imgLang" src="{% static "images/eng.png" %}"/>
                    <label class="langText">английский</label>
                </div>
                <div class="langItem">
                    <div>
                        <input type="checkbox" id="cb3"/>
                    </div>
                    <img class="imgLang" src="{% static "images/uzb.png" %}"/>
                    <label class="langText">узбекский</label>
                </div>
                <div class="langItem">
                    <div>
                        <input type="checkbox" id="cb4"/>
                    </div>
                    <img class="imgLang" src="{% static "images/tad.png" %}"/>
                    <label class="langText">таджикский</label>
                </div>
            </div>
        </div>
    </div>

    <div class="whiteBack"></div>
    <div class="modalCoocke">
        <div class="modalCoockebg"></div>
        <div class="modalCoocke_content">
            <p class="modalCoockee_text">Мы используем куки на сайте,
                чтобы улучшить опыт пользователя</p>
            <div class="modalCoockee_btn">ок</div>
        </div>
    </div>

    <nav class="nav">
        <div class="container">
            <div class="navContainer">
                <a href="{% url 'main' %}" class="navItem">Главная</a>
                <div class="navListCont">
                    <div class="navItem">О нас</div>
                    <div class="navList">
                        <a href="{% url 'us' %}"class="navItem">Об организации</a>
                        <a href="{% url 'area_of_activities' %}" class="navItem">Направления деятельности</a>
                        <a href="{% url 'docs' %}" class="navItem">Документы</a>
                        <a href="{% url 'vacancies' %}" class="navItem">вакансии</a>
                    </div>
                </div>
                <a href="{% url 'news' %}" class="navItem">НОВОСТИ</a>
                <a href="{% url 'services' %}" class="navItem">услуги</a>
                <a href="{% url 'feedback' %}" class="navItem">обратная связь</a>
                <a href="{% url 'contacts' %}" class="navItem">контакты</a>
            </div>
        </div>
    </nav>
    <section class="search">
        <div class="container">
            <div class="searchContainer">
                <form class="formSrch">
                    <div class="containerSrc">
                        <input class="srch">
                        <a href="#"><img src="{% static "images/search.svg" %}"></a>
                    </div>
                    <a href="{% url 'questions' %}" class="srchText">частые вопросы</a>
                </form>

            </div>
        </div>
    </section>

    {% block content %}{% endblock %}

    <footer class="footer">
        <div class="container">
          <div class="footerContainer">
            <div class="logo">
                <img src="{% static "images/logoF.svg" %}" class="logoIcon">
            </div>
            <nav class="navFooter">
                <a href="#" class="footerLinkItem">ГЛАВНАЯ</a>
                <a href="#" class="footerLinkItem">уСЛУГИ</a>
                <a href="#" class="footerLinkItem">ОБРАТНАЯ СВЯЗЬ</a>
                <a href="#" class="footerLinkItem">о НАС</a>
                <a href="#" class="footerLinkItem">НОВОСТИ</a>
                <a href="#" class="footerLinkItem">КОНТАКТЫ</a>
            </nav>
            <p class="textFooter">
                Автономная Некоммерческая организация
                «Центр помощи, поддержки, социальной и трудовой адаптации»
                Свидетельство о регистрации некоммерческой организации
                выдано Управлением Министерства юстиции по Пермскому краю
                с учетным N 5914050896, дата выдачи 13.05.2022
                ОГРН 1225900009158    ИНН 5903153110
            </p>
        </div>

        </div>
            <div class="footerGradient">
                <div class="container">
                    <div class="lineFooter">
                        <a href="#">copying</a>
                        <a href="#">помощь ?</a>
                    </div>
                </div>
            </div>
        </footer>



    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/Shuffle/5.2.3/shuffle.min.js"></script>

    <script defer type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.min.js" type="text/javascript"></script>
            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/Shuffle/5.2.3/shuffle.min.js"></script>

            <script src="{% static "js/main.js" %}"></script>
            <script defer type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</body>
</html>