.docsTextStatick{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    /* or 123% */

    text-align: justify;
    text-indent: 50px;

    color: #3A3A3A;
}