.newsSubTitle{
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */

    margin-top: 45px;
    color: #AD001E;

}

.slider__introNews{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.slider__introNews i{
    font-size: 25px;
}

.slider__introNews .arrow__slider.left{
    left: 0px;
}

.slider__introNews .arrow__slider.right{
    right: 0px;
}

.introNews__item{
    
}

.news__img{
    width: 325px;
    height: 190px;
    object-fit: cover;
}

.textNews{
    margin-top: 45px;
    
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
/* or 123% */

text-align: justify;
text-indent: 50px;

color: #000000;

}